<div class="d-flex justify-content-center">
    <nav>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-3 list-group list-group-horizontal" >
        <li class="nav-item list-group-item">
          <a class="nav-link  fs-5" aria-current="page" href="#">
            <i class="material-icons personalizado" style="font-size: 20px; margin-right: 5px; margin-top: 3px;">tune</i>
          </a>
        </li>
        <li class="nav-item nav-A list-group-item">
          <a class="nav-link active fs-5 personalizado" aria-current="page" [routerLink]="['/inicio']">
            <i class="material-icons personalizado" style="font-size: 20px; margin-right: 5px;">bookmark</i>POPULAR
          </a>
        </li>
        <li class="nav-item list-group-item">
          <a class="nav-link fs-5" aria-current="page" [routerLink]="['/new-films']">
            <i class="material-icons" style="font-size: 20px; margin-right: 5px;">whatshot</i>NUEVO
          </a>
        </li>
        <li class="nav-item list-group-item">
          <a class="nav-link fs-5" aria-current="page" href="#">
            <i class="material-icons" style="font-size: 20px; margin-right: 5px;">movie</i>EN CARTELERA
          </a>
        </li>
        <li class="nav-item list-group-item">
          <a class="nav-link fs-5" aria-current="page" href="#">
            <i class="material-icons" style="font-size: 20px; margin-right: 5px;">calendar_today</i>PRÓXIMAMENTE
          </a>
        </li>
        
        <li class="nav-item list-group-item">
          <a class="nav-link fs-5" aria-current="page" href="#">
            <i class="material-icons" style="font-size: 20px; margin-right: 5px;">star_rate</i>MEJORES VALORADAS
          </a>
        </li>
      </ul>
    </nav>
  </div>