

#pantallacompleta {
    height: 100vh;
    width: 100%;
    background-image: url("../../../assets/imgs/fondo_dashboard_pelis.png");
   }

 #botones button {
    margin-right: 20px; /* Agrega un margen de 10px entre los botones */
    margin-top: 10px;
  }

  #titulo{
    font-size: 84,8px !important;
    font-weight: bolder;
  }

  #subtitulo{
    font-size: 26px !important;
    font-weight: bold;
  }

  #tercertitulo{
    font-size: 20px !important;
  }

  #botonrojo{
    background-color: #E50914;
  }

  #botonverde{
    background-color: #618738;
  }