
<div id="pantallacompleta">
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand">Navbar</a>
      <div class="d-flex" id="botones">
        <button class="btn btn-success btn-lg" id="botonverde" type="submit">Ayuda</button>
        <button class="btn btn-danger btn-lg" type="submit"
                routerLink="/auth/login">Iniciar Sesión</button>
      </div>
    </div>
  </nav>


  <div class="d-flex flex-column align-items-center justify-content-center" style="height: 80vh;">
    <p class="text-center fs-1 text-white" id="titulo">La red social, para cinéfilos.</p>
    <p class="text-center fs-4 text-white" id="subtitulo">Pelisdede, para amantes del cine.</p>
    <p class="text-center text-white" id="tercertitulo">Crea tus listas de series y películas, sigue y comenta tu contenido favorito, descubre pelisdede.</p>
    <button class="btn btn-lg mt-3 text-white" id="botonrojo" type="submit"
            routerLink="/auth/register">Registrarme</button>
</div>
</div>